img{
    max-width: 100%;
    height: auto;
}
*,*::before,*::after{
    box-sizing: border-box;
}
a{
    display: block;
    text-decoration: none;
    color: $gray-900;
}
.block{
    display: block;
}
li{
    list-style: none;
}
